* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-rows: 80px 1fr 64px;
  grid-template-columns: 400px 1fr;
  align-content: stretch;
  justify-items: center;
  background-color: rgb(0, 0, 0);
}

main {
  grid-area: main;
  width: 100%;
  color: rgb(153, 139, 163);
  /* background-color: transparent; */
  display: grid;
  justify-items: center;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-content: space-around; */
  background-image: url(../images/planet-earth-horizon-hi.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

header {
  grid-area: header;
  font-size: 50px;
  background-color: none;
  text-align: center;
  color: rgb(153, 139, 163);
}

aside {
  grid-area: aside;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#letter-options {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

#letter-options > button {
  font-size: 30px;
  padding: 9px;
  margin: 5%;
  width: 4vmin;
  height: 4vmin;
  background-color: transparent;
  border: none;
  color: aqua;
  /* border: 2px solid rgb(153, 139, 163); */
}

aside > #try-again-butt {
  font-size: 24px;
  padding: 15px;
  margin-top: 30%;
  background-color: transparent;
  color: aqua;
  /* border: 2px solid rgb(153, 139, 163); */
  border: none;
}

footer {
  opacity: 70%;
  grid-area: footer;
  background-color: rgb(38, 16, 53);
  width: 100%;
}

#wrong-let-msg {
  text-align: center;
}

h3 {
  text-align: center;
}

main > h2 {
  font-size: 4vmin;
  text-align: center;
}

#sprite {
  background: url(../images/mooncycles.png) no-repeat;
  width: 110px;
  height: 250px;
  background-color: black;
}

#wrong-let-msg {
  font-size: 40px;
  height: 100%;
}

#correct-letters {
  font-size: 6vmin;
  height: 100%;
  width: 100%;
}

h1 {
  margin-top: 0%;
}

input {
  height: 50px;
  border: 3px solid rgb(153, 139, 163);
  background-color: transparent;
  color: aqua;
  padding: 10px;
}
