* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-rows: 80px 1fr 64px;
  grid-template-columns: 400px 1fr;
  align-content: stretch;
  justify-items: center;
  background-color: rgb(0, 0, 0);
  background-image: url(../images/earthpano.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 200px;
  font-family: "Orbitron", sans-serif;
}

main {
  grid-area: main;
  width: 100%;
  color: rgb(153, 139, 163);
  display: grid;
  justify-items: center;
}

header {
  grid-area: header;
  background-color: none;
  color: rgb(153, 139, 163);
  width: 100%;
}

aside {
  grid-area: aside;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#letter-options {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

#letter-options > button {
  font-size: 30px;
  padding: 9px;
  margin: 5%;
  width: 4vmin;
  height: 4vmin;
  background-color: transparent;
  border: none;
  color: aqua;
  font-family: "Orbitron", sans-serif;
}

aside > #try-again-butt {
  font-size: 24px;
  padding: 15px;
  margin-top: 30%;
  background-color: transparent;
  color: rgb(153, 139, 163);
  border: 4px solid rgb(153, 139, 163);
  font-family: "Orbitron", sans-serif;
}

footer {
  opacity: 90%;
  grid-area: footer;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
}

#wrong-let-msg {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

p {
  text-align: center;
}

main > h2 {
  font-size: 4vmin;
  text-align: center;
}

#sprite {
  width: 249px;
  height: 250px;
  background-color: black;
}

#wrong-let-msg {
  font-size: 40px;
  height: 100%;
}

#correct-letters {
  letter-spacing: 20px;
  font-size: 6vmin;
  height: 100%;
  width: 100%;
}

h1 {
  display: inline-block;
  margin-left: 3vw;
  font-size: 47px;
}

input {
  height: 50px;
  border: 3px solid rgb(153, 139, 163);
  background-color: transparent;
  color: aqua;
  padding: 10px;
}
